<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <video autoplay muted loop id="bgVideo">
    <source src="{{ url_for('static', filename='videos/bg.mp4') }}" type="video/mp4">
</video>
</head>
<body>

<div class="container">
    <h2>Login</h2>
    <form action="/login" method="POST" autocomplete="off">
    <input type="text" name="username" placeholder="Username" required autocomplete="off">
    <input type="password" name="password" placeholder="Mail ID" required autocomplete="new-password">
    <button type="submit">Login</button>
    </form>
</div>

<h3 style="text-align:center; color:white;">
    Total Users: {{ user_count }}
</h3>
</body>
</html>
